{% extends "base.html" %}

{% block content %}
    {% if user %}

    <div class="container">
        <div class="row">
            <h2> Hello, {{ user.username }} </h2>
        </div>
    </div>

    {% else %}
    <div class="containter">
        <div class="row">
            <h2>Hello, user!</h2>
        </div>
    </div>
    {% endif %}
    <br>
<div class="container">
    <div class="row">
         <p class="text-monospace"> Current folder is: {{ cwd }}
    </div>
</div>

    <br>
    {% for item in items %}
    <div class="container">
        <div class="row">
            <a class="nav-link text-monospace" href="#"> {{ item }} </a>
        </div>
    </div>
    {% endfor %}
{% endblock %}